<main>
  <nav class="top-nav">
    @if (usuario()) {
      <a (click)="logout()">Cerrar sesión</a>
      @if (usuario()) {
        <p>Hola {{ usuario()!.nombre }}!!!</p>
      }
    } @else {
      <a routerLink="/login">Iniciar sesión</a>
      <a routerLink="/signin">Registrarse</a>
    }
  </nav>

  @if (isHome()) {
    <h1>{{ title }}</h1>

    <nav class="secciones">
      <a routerLink="/vuelos">Vuelos</a>
      <a routerLink="/pasajeros">Pasajeros</a>
      <a routerLink="/reservas">Reservas</a>
      <a routerLink="/boletos">Boletos</a>
      <a routerLink="/detalles-viajeros">Detalles de viajeros</a>
      <a routerLink="/itinerarios">Itinerarios</a>
      <a routerLink="/listado-pasajeros-vuelos">Listado de pasajeros por vuelo</a>
      <a routerLink="/tarjetas-embarque">Tarjetas de embarque</a>
      <a routerLink="/usuarios">Usuarios</a>
    </nav>
  }

  <router-outlet />
</main>
